html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

button,
input {
    margin: 0;
    vertical-align: middle;
    *overflow: visible;
    margin-top: 0.8em;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button {
    -webkit-appearance: button
}

button,
label {
    cursor: pointer;
}

@media print {
    * {
        color: #000 !important;
        text-shadow: none !important;
        background: transparent !important;
        box-shadow: none !important;
    }
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 20px;
    color: #333;
    background-color: #fff;
}

.row {
    margin-left: -20px;
    *zoom: 1;
}

.row:after,
.row:before {
    display: table;
    line-height: 0;
    content: "";
}

.row:after {
    clear: both;
}

[class*=span] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
}

.container {
    width: 940px;
}

.span6 {
    width: 460px;
}

.span3 {
    width: 220px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    *zoom: 1;
}

.container:after,
.container:before {
    display: table;
    line-height: 0;
    content: "";
}

.container:after {
    clear: both;
}

form {
    margin: 0 0 20px;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5
}

button,
input,
label {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

button,
input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

label {
    display: block;
    margin-bottom: 5px
}

input[type=password],
input[type=text] {
    display: inline-block;
    height: 32px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

input {
    width: 206px
}

input[type=password],
input[type=text] {
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s
}

input[type=password]:focus,
input[type=text]:focus {
    border-color: rgba(82, 168, 236, .8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6)
}

input:-moz-placeholder {
    color: #999
}

input:-ms-input-placeholder {
    color: #999
}

input::-webkit-input-placeholder {
    color: #999
}

.input-large {
    width: 224px;
}

input {
    margin-left: 0
}

input:focus:invalid {
    color: #b94a48;
    border-color: #ee5f5b
}

input:focus:invalid:focus {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7
}

.form-horizontal input {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    vertical-align: middle;
    *zoom: 1
}

.control-group {
    margin-bottom: 10px
}

legend+.control-group {
    margin-top: 20px;
    -webkit-margin-top-collapse: separate
}

.form-horizontal .control-group {
    margin-bottom: 20px;
    *zoom: 1
}

.form-horizontal .control-group:after,
.form-horizontal .control-group:before {
    display: table;
    line-height: 0;
    content: ""
}

.form-horizontal .control-group:after {
    clear: both
}

.form-horizontal .control-label {
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right
}

.form-horizontal .controls {
    *display: inline-block;
    *padding-left: 20px;
    margin-left: 180px;
    *margin-left: 0
}

.form-horizontal .controls:first-child {
    *padding-left: 180px
}

.well {
    min-height: 20px;
    padding: 1em;
    margin-bottom: 1em;
    margin-top: 1.5em;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.btn {
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 1em;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    background-image: -o-linear-gradient(top, #fff, #e6e6e6);
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05)
}

.btn:active,
.btn:focus,
.btn:hover {
    color: #333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9
}

.btn:active {
    background-color: #ccc \9
}

.btn:first-child {
    *margin-left: 0
}

.btn:focus,
.btn:hover {
    color: #333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05)
}

.btn-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    background-color: #006dcc;
    *background-color: #005c8b;
    background-image: -moz-linear-gradient(top, #0075af, #005c8b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0075af), to(#005c8b));
    background-image: -webkit-linear-gradient(top, #0075af, #005c8b);
    background-image: -o-linear-gradient(top, #0075af, #005c8b);
    background-image: linear-gradient(to bottom, #0075af, #005c8b);
    background-repeat: repeat-x;
    border-color: #005c8b #005c8b #002a80;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false)
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    color: #fff;
    background-color: #005c8b;
    *background-color: #003bb3
}

.btn {
    width: 10em;
}

.btn-primary:active {
    background-color: #039 \9
}

button.btn {
    *padding-top: 3px;
    *padding-bottom: 3px
}

button.btn::-moz-focus-inner {
    padding: 0;
    border: 0
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }

    to {
        background-position: 0 0
    }
}

@-moz-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }

    to {
        background-position: 0 0
    }
}

@-ms-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }

    to {
        background-position: 0 0
    }
}

@-o-keyframes progress-bar-stripes {
    from {
        background-position: 0 0
    }

    to {
        background-position: 40px 0
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }

    to {
        background-position: 0 0
    }
}

@media(max-width:767px) {
    .hidden-phone {
        display: none !important
    }
}

@media(min-width:1200px) {
    .row {
        margin-left: -30px;
        *zoom: 1
    }

    .row:after,
    .row:before {
        display: table;
        line-height: 0;
        content: ""
    }

    .row:after {
        clear: both
    }

    [class*=span] {
        float: left;
        min-height: 1px;
        margin-left: 30px
    }

    .container {
        width: 1170px
    }

    .span6 {
        width: 570px
    }

    .span3 {
        width: 270px
    }

    input {
        margin-left: 0
    }
}

@media(min-width:768px) and (max-width:979px) {
    .row {
        margin-left: -20px;
        *zoom: 1
    }

    .row:after,
    .row:before {
        display: table;
        line-height: 0;
        content: ""
    }

    .row:after {
        clear: both
    }

    [class*=span] {
        float: left;
        min-height: 1px;
        margin-left: 20px
    }

    .container {
        width: 724px
    }

    .span6 {
        width: 352px
    }

    .span3 {
        width: 166px
    }

    input {
        margin-left: 0
    }
}

@media(max-width:767px) {
    body {
        padding-right: 20px;
        padding-left: 20px
    }

    .container {
        width: auto
    }

    .row {
        margin-left: 0
    }

    [class*=span] {
        display: block;
        float: none;
        width: 100%;
        margin-left: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }

    .input-large {
        display: block;
        width: 100%;
        min-height: 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
}

@media(max-width:480px) {
    .form-horizontal .control-label {
        float: none;
        width: auto;
        padding-top: 0;
        text-align: left
    }

    .form-horizontal .controls {
        margin-left: 0
    }
}

@media(max-width:979px) {
    body {
        padding-top: 0
    }
}

#form-login {
    margin: 0 auto;
    float: none
}

body,
html {
    height: 100%
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -120px
}

#push {
    height: 60px
}

@media (min-width:1200px) {
    #form-login {
        margin: 100px auto 0;
        float: none
    }
}

@media (min-width:980px) and (max-width:1199px) {
    #form-login {
        margin: 100px auto 0;
        float: none
    }

    #form-login .control-label {
        width: 110px
    }

    #form-login .controls {
        margin-left: 130px
    }
}

@media (min-width:768px) and (max-width:979px) {
    #form-login {
        margin: 0 auto;
        float: none
    }

    #form-login .control-label {
        width: 70px
    }

    #form-login .controls {
        margin-left: 80px
    }
}

@media (min-width:480px) and(max-width:767px) {
    #form-login .control-label {
        width: 50px
    }

    #form-login .controls {
        margin-left: 70px
    }
}